$lightblue: rgba(218, 233, 254);
$blacktext: rgb(0, 0, 0);
$bgblack: rgba(28, 28, 28);
$bluetext: rgba(24, 71, 132);
$bluelink: rgba(2, 130, 249);
$whitetext: rgba(255, 255, 255);
$bgfooter: rgba(48, 48, 48);
$textgray: rgb(149, 149, 149);